.text-to-image-converter-settings {
  color: var(--SmartThemeBodyColor);

  & .inline-drawer-header {
    color: var(--SmartThemeBodyColor);
  }
  & * {
    text-shadow: none !important;
  }

  & h4 {
    width: 100%;

    font-size: 16px !important;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #5c6f7c !important;
  }

  & h5 {
    width: 100%;
    height: auto !important;
    margin-top: 15px;
    font-size: 15px !important;

    & > i {
      margin-right: 10px;
    }
  }

  /* how to use */
  & #how_to_use {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 8px;
    cursor: pointer !important;
    transition: border-color 0.3s;
    &:hover {
      border-color: rgb(255, 153, 0);
    }
    & i {
      margin-right: 5px;
      color: rgb(255, 153, 0);
      vertical-align: top;
    }
  }
  & .how_to_use_box {
    display: none;
    padding: 10px 20px;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 8px;

    & > span {
      margin: 16px 0;
      padding: 15px;
      border-radius: 5px;
      border-left: 5px solid #007bff;
    }
    & span {
      display: block !important;
      line-height: 1.3rem;

      & > span {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid var(--SmartThemeBorderColor);
        border-radius: 5px;
      }
    }
  }

  & .inline-drawer-content {
    & > .flex-container {
      flex-direction: row !important;
      align-items: center;
      margin: 20px 0;
      padding: 15px;
      border: 1px solid var(--SmartThemeBorderColor);
      border-radius: 8px;
      box-sizing: border-box;

      & > .flex-container {
        flex-direction: row !important;
        width: 100% !important;
        margin-top: 10px;
      }
    }
  }

  /* 프리셋 */
  & input#preset_name {
    width: calc(100% - 55px);
    height: 40px;
    margin-right: auto;
    padding: 0 10px !important;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 8px;
    background-color: var(--black30a);
  }
  & .text-to-image-select {
    width: calc(100% - 160px) !important;
    height: 40px;
    margin-right: auto;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 8px;
    background-color: var(--black30a);
  }
  & .text-to-image-btn {
    width: 40px;
    height: 40px;
    margin: 0 3px;
    border: 1px solid var(--SmartThemeBorderColor) !important;
    border-radius: 8px;
    background-color: var(--black30a);
    color: #2b2b2b;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #007bff;

      & i {
        color: #fff;
      }
    }

    &.clear:hover {
      background: #cc0000 !important;
    }
  }

  /* 텍스트 입력 */
  & #text_to_image {
    width: 100% !important;
    min-height: 140px;
    border: 1px solid var(--SmartThemeBorderColor);
    background-color: var(--black30a);
    resize: vertical;
  }
  & .clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid var(--SmartThemeBorderColor) !important;
    border-radius: 8px;
    background-color: var(--black30a);
    color: #2b2b2b;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    & i {
      margin-right: 10px;
    }

    &:hover {
      background: #cc0000;
      color: #fff;

      & i {
        color: #fff;
      }
    }
  }

  /* 단어 치환 */
  & .flex-container:has(> .replacer_box) {
    justify-content: space-between !important;

    & .replacer_box {
      width: 48% !important;
      height: 40px !important;
      border: 1px solid var(--SmartThemeBorderColor) !important;
      border-radius: 8px;
      background-color: var(--black30a);
      text-align: center;
    }

    & #apply_replacement:hover {
      background: #007bff;
    }

    & #restore_text:hover,
    & #clear_replace:hover {
      background: #cc0000;
    }
  }
  & .justify-center {
    justify-content: flex-end !important;
  }
  & #clear_replace {
    margin-right: auto;
  }

  /* 카테고리 */
  & .tab-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;

    & .tab-btn {
      flex: 1;
      justify-content: center;
      align-items: center;
      height: 40px;
      border: 1px solid var(--SmartThemeBorderColor) !important;
      border-radius: 8px;
      background-color: var(--black30a);
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;

      &.active {
        background: #007bff;
        color: white;
      }
    }
  }
  & .tab-content {
    display: none;

    &.active {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  /* 텍스트 스타일 */
  .flex-container.tab-content > div {
    justify-content: space-between !important;
    align-items: center;
    &:first-of-type {
      margin-top: 10px !important;
    }
    & > *:not(input[type="range"]) {
      height: 40px;
    }
    & label {
      width: 60px;
    }
  }

  /* select, input */
  & .flex-container.tab-content {
    & select,
    & input[type="text"] {
      width: calc(100% - 70px);
      padding: 5px 10px !important;
      border: 1px solid var(--SmartThemeBorderColor) !important;
      border-radius: 8px;
      background-color: transparent;
    }
    & input[type="checkbox"] {
      width: 20px !important;
      height: 20px !important;
      border-radius: 50% !important !important;
    }
    & input[type="color"] {
      width: calc(100% - 70px);
      height: 40px;
      padding: 0 !important;
      border: none !important;
      background-color: transparent !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &::-webkit-color-swatch {
        border: 1px solid var(--SmartThemeBorderColor) !important;
        border-radius: 5px;
      }
    }
    & input[type="range"] {
      width: calc(100% - 70px);
    }
  }

  /* 배경 종류 선택 */
  & .flex-container:has(> #background_color) {
    width: 100% !important;
  }
  & #background_image_gallery:has(.bg-image-item),
  & #custom_background_gallery:has(.bg-image-item) {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 260px;
    padding: 10px 5px;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 8px;
    background: rgba(255,255,255,0.3);
    gap: 6px;
    overflow-y: auto;

    & .bg-image-item {
      position: relative;
      width: calc(100% / 4 - 6px);
      height: auto;
      overflow: hidden;
      cursor: pointer;
      transition: border-color 0.3s;
      aspect-ratio: 1 /1;
      outline-width: 1px;
      outline-style: solid;
      outline-color: #ddd;
      box-sizing: border-box;

      &:nth-child(4n + 1) {
        margin-left: 3px;
      }

      &.selected {
        outline-color: #007bff !important;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  & #custom_background_gallery:empty {
    display: none;
  }

  /* 커스텀 이미지 */
  & .custom-bg-upload {
    width: 100%;
    & label {
      display: block;
      width: 100% !important;
      padding: 8px 12px;
      border: 1px solid var(--SmartThemeBorderColor);
      border-radius: 8px;
      background-color: var(--black30a);
      text-align: center !important;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #007bff;
        color: #fff;
      }
    }
  }
  & .bg-image-item {
    position: relative;
    & .delete-bg-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.2s;
    }
    &:hover .delete-bg-btn {
      opacity: 1;
    }
  }

  /* 프리뷰 */
  #image_preview_box > h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dl_all {
    color: #2c3e50;
    font-size: 13px !important;
    cursor: pointer;
  }

  .image-preview {
    display: flex;
    flex-wrap: wrap;

    & .image-preview-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;

      &:has(img:not([src])) {
        display: none !important;
      }

      &:not(:first-child) {
        margin-top: 10px;
      }

      & img {
        height: auto;
        max-width: 100%;
        margin-bottom: 10px;
        border-radius: 3px;
      }

      & .download-btn {
        padding: 5px 10px;
        border: none;
        border-radius: 8px;
        background-color: #007bff;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #0069d9;
        }
      }
    }
  }
}

/* 폰트 리스트 */
@font-face {
  font-family: "Pretendard-Regular";
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Regular";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Chosunilbo_myungjo";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "ChosunSm";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "ChosunGu";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "ChosunSg";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "RIDIBatang";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NotoSerifKR";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "MaruBuriSemiBold";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf)
      format("truetype");
}
@font-face {
  font-family: "SunBatang-Light";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "KyoboHandwriting2020A";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_corncorn-Rg";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "SDKukdetopokki";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDKukdetopokki.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "MapoGoldenPier";
  font-weight: normal;
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Iropke Batang";
  font-weight: 400;
  font-style: normal;
  src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot);
  src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot?#iefix)
      format("embedded-opentype"),
    url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.woff) format("woff"),
    url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.ttf) format("truetype");
}
@font-face {
  font-family: "Jeju Myeongjo";
  font-weight: 400;
  font-style: normal;
  src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot);
  src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff2) format("woff2"),
    url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff) format("woff"),
    url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Father_loveletter";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/Father_loveletter.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "KyoboHand";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Danjo-bold-Regular";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_wiseelist-Rg";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/Ownglyph_wiseelist-Rg.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Uiyeun";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Yoonwoo";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Yoonwoo.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_ryuttung-Rg";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "GowunDodum-Regular";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SF_HambakSnow";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "LeeSeoyun";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "ANDONG264TTF";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2502-1@1.0/ANDONG264TTF.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "SimKyungha";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SimKyungha.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "KCC-Sonkeechung";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KCC-Sonkeechung.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "KyoboHandwriting2023wsa";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/KyoboHandwriting2023wsa.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_kimkonghae";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_kimkonghae.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Pretty_Left_handed";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_09@1.0/Pretty_Left_handed.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "mom_to_daughter";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/mom_to_daughter.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Saying_tobe_strong";
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_09@1.0/Saying_tobe_strong.woff")
    format("woff");
  font-style: normal;
}
